* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: linear-gradient(to bottom right, #3498db, #9b59b6);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 450px;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #444444;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #444444;
    font-weight: bold;
}

input, select {
    height: 40px;
    font-size: 14px;
    padding: 5px;
    margin-bottom: 15px;
    border: 2px solid #3498db;
    border-radius: 5px;
    outline: none;
    background-color: #f2f2f2;
    transition: background-color 0.3s ease;
}

input:focus, select:focus {
    background-color: #ffffff;
}

button.submit-btn {
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button.submit-btn:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}
p {
    font-size: 16px;
    color: #444444;
    margin-bottom: 15px;
    text-align: justify;
    line-height: 1.5;
}

.cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a.submit-btn {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    background-color: #3498db;
    color: #ffffff;
    text-decoration: none;
    padding: 0 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

a.submit-btn:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

.forum-link {
    font-size: 14px;
    color: #3498db;
    text-decoration: none;
    margin-top: 10px;
    transition: color 0.3s ease;
}

.forum-link:hover {
    color: #2980b9;
}
